<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div sec:authorize="isAnonymous()">
    Login as <a th:href="@{/blog}">User</a> or <a th:href="@{/create}">Admin</a>
</div>
<div sec:authorize="isAuthenticated()">
    <div sec:authorize="hasRole('USER')">
        <a th:href="@{/blog}">My Profile</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/create}">My Profile</a>
    </div>
    <a th:href="@{/logout}">Logout</a>
</div>

</body>
</html>